VITE_SUPABASE_URL=https://rrpslzimschgfrwdqmol.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJycHNsemltc2NoZ2Zyd2RxbW9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NTcxOTcsImV4cCI6MjA5MTEzMzE5N30.JIQN2IvMBLH36_fujyi9s-gh0rL8xMCQzI6fjBGwJAg
